@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  background-color: rgb(24, 24, 24);
  font-family: 'Poppins';

}

h1{
  text-align: center; 
  padding: 20px;
  
}
h2{
  text-align: center;
}

h3{
  padding: 15px;
}

h4{
  background-color: transparent;
  text-align: center;
  padding: 7px;
  padding-top: 4%;
}

em{
  background-color: transparent;
  font-size: 100%;
}

.col-1{
  margin-left: 50%;
  padding: 0px;
}

.fixed-bottom{

  text-align: center;
}

.navbar-toggler-icon{
  background-color: rgb(237,230, 209);
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.carousel{
  margin: 5%;
  margin-top: 2%;
  padding: 0%;

}

.carousel-item{
  margin-left: 25%;
}

.carousel-indicators{
 background-color: transparent;
 
}

.carousel-caption.d-none.d-md-block{
 width: 25%;

}

div.row.row-cols-1.row-cols-md-3.g-4{
  margin: 1%;
}

/* div.card.mb-4{
  background-color: black;
} */
.card{
  margin: 5%;
  display: flex;
  /* margin-right: 15%; */
  height: 100vh;
  border: none;
}

.card-title{
  text-align: center;
}

.card-body{
  margin: 0%;
}

.card.w-50.p-3.text-bg-dark.embed-responsive.embed-responsive-16by9{
  left: 20%;
}

#icon.col{
 max-width: 40px;
}


@media screen  and (max-width:900px)  {
  .carousel{
    margin: 15%;
    margin-top: 2%;
  }
  
  div.row.row-cols-1{
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }

}